html,
body {
    font-family: "Vazirmatn" !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 0.85rem;
}

.splash {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0px;
    position: absolute;
    z-index: 9998;
    background-repeat: no-repeat;
    background-position: center;
}

.z-1030 {
    z-index: 1030;
}
